@import '~antd/dist/antd.css';

.App {
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  flex: 10;
  margin-left: 20px;
  text-align: left;
}

.updateButton {
  flex: 1;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 20px;
}

.timeStamp {
  color: grey;
  margin-right: 20px;
}

.picture {
  margin-left: 10px;
  margin-right: 10px;
}

.list-item {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 15px;
}